body {
  width: 100%;
  margin: 0px;
}
:root {
  font-family: Arial;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#login-area {
  background-color: aqua;
}
button,button label,
a label,
a {
  cursor: pointer;
}
input,
button,
textarea {
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
}
textarea{
  border: 2px solid #cccccc;
    box-sizing: border-box;
}